.container {
  margin: 0 auto;
}
body{
  background-color: #E4E4E4;
}
.inline {
  display: inline-block;
  vertical-align: middle;
}

.logo {
  margin-right: 92px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #fa6980;
}
header {
  width: 1440px;
  padding: 11px 20px;
  position: fixed;
  background-color: white;
}
.header-nav {
  margin-right: 40px;
  ;
}
.header-li {
  margin-right: 22px;
}
.header-a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #343638;
}

section {
  /* margin-top: 25px; */
  /* padding-top: 77px; */
  padding-top: 75px;
  /* margin-bottom: 58px; */
  margin: 0 auto;
  width: 1160px;
}
article {
  position: relative;
  width: 360px;
  background-color: white;
}
h3 {
  position: absolute;
  top: 28px;
  left: 40px;
  color: white;
  font-size: 16px bold;
}
.article-text {
  padding: 66px 40px 40px;
}
.article-p {
  padding-bottom: 10px;
}
.article-margin{
  margin-right: 30px;
}
 .rightbox{
  width: 360px ;
  height: 900px;
  vertical-align: top;
}
.leftbox{
  position: relative;
  width: 760px;
  height: 896px; 
  margin-right: 35px;

} 
.ddd{
  margin-bottom: 102px;
}
.leftimage{
  margin-bottom: 40px;
  
}
.imagetext{
  position: absolute;
  top: 194px;
  left: 308px;
  color: #FFFFFF;
  font-size: 16px bold;
}

.footer-background {
  background-color: #A6ADB4;
  height: 200px;
  padding-top: 54px;
  margin-top: 34px;
  /* padding-bottom: 57px; */
  width: 1440px;
}
.footer-block {
  width: 1160px;
  margin: 0px auto 0px;

}
.footer-logo {
  font-family: 'Acumin Pro';
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  vertical-align: top;
  margin-right: 89.1px;
}
.footer-nav {
  display: inline-block;
  vertical-align: top;
}
.nav-1 {
  margin-right: 70.6px;
}
.nav-2 {
  margin-right: 86.3px;
}

.nav-3 {
  margin-right: 104.9px;
}
.footer-nav-item {
  font-family: 'Helvetica-Bold';
  font-size: 13px;
  color: #CBD0D3;
  margin-bottom: 8px;
}
.footer-text {
  display: inline-block;
  vertical-align: top;
  margin-right: 165.2px;
  font-family: 'Helvetica-Regular';
  font-size: 11px;
  color: #CBD0D3;
}
.footer-icons {
  display: inline-block;
  vertical-align: top;
}
.icon {
  margin-right: 32px;
}

